* {
  margin: 0;
  padding: 0;
}

body {
  /*width: 800px;
  height: 600px;*/
}

#main-container, #side-part, #main-content{
  height: 570px;
}

#main-container #side-part {
  float: left;
  width: 250px;
  border-right: 1px solid #BDBDBD;
}

#main-content {
  margin-left: 252px;
  width: 540px;
}

#edit-panel {
  height: 540px;
  width: 545px;
  border-bottom: 1px solid #BDBDBD;
  overflow: auto;
}

#folder-tree {
  height: 540px;
  border-bottom: 1px solid #BDBDBD;
  background: #E0ECF8;
}

#folder-tree span:hover {
  cursor: default;
}

#root-tree, .second-tree {
  color: #BDBDBD;
}

#public-host {
  color: blue;
}

#current-host {
  color: black;
  font-weight: bold;
}

.second-tree i, .tree-title i , .leaf-node i {
  text-indent: 0em;
}

.leaf-node span {
  color: black;
}

.accept {
  font-weight: bold;
}

.second-tree {
  text-indent: 2em;
}

.leaf-node {
  text-indent: 4em;
}

#operation {
  padding: 8px 10px;
}

#operation ul li{
  display: inline-block;
}

#accept-btn {
  height: 30px;
}

#accept-btn button {
  float: right;
  margin-top: 5px;
  padding: 2px 15px;
  height: auto;
  text-shadow: 1px 1px 1px rgba(255,255,255, .22);
  border-radius: 5px;
}

#edit-area {
  width: 900px;
  min-height: 520px;
  outline: 0;
  word-wrap: break-word;
  font-size: 14px;
  border: 1px solid #a0b3d6;
  border-left: 15px solid #F2F2F2;
  white-space: pre;
}

.active-li {
  background-color: #81BEF7;
}

#folder-tree li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#add-form {
  width: 400px;
  height: 100px;
}

#bg {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  opacity:0;
  filter: alpha(opacity=0);
}

#add-form , #edit-form {
  display: none;
  position: absolute;
  top: 25%;
  left: 22%;
  width: 53%;
  height: 20%;
  padding: 8px;
  border: 8px solid #E8E9F7;
  background-color: #F2F2F2;
  z-index:1002;
  overflow: auto;
}

#option-head {
  font-size: 14px;
}

#option-head label {
  margin: 0 10px;
}

.host-name label, .url label, .btn {
  margin-left: 10px;
}

.host-name, .url {
  margin: 20px 0;
}

.url {
  padding-bottom: 10px;
  border-bottom: 1px solid #D8D8D8;
}

.btn {
  padding-left: 50%;
  margin-left: 50px;
  margin-right: -5px;
}

.form-btn {
  display: inline-block;
  width: 35%;
}

.gray {
  -webkit-filter: grayscale(100%);
}
